.userDropdown {
  display: none;
  background-color: rgb(212, 212, 221);
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  background-color: rgb(212, 212, 221);
}

